@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    background-color: #27bcda; 
    /* width: 300px; */
    font-family: 'Fira Sans', sans-serif;
    height: 180vh;
    transition: transform 0.3s ease-in;
}


.sidebar nav {
    padding: 45px;
    font-size: 20px;
}

.sidebar nav li {
    list-style: none;
    padding: 30px 0;
}

.sidebar nav li a {
    text-decoration: none; /* removes underline of the hyperlink*/
    color: black;
}

.main {
   /* background-color: yellow;*/
    width: 90vw;
    margin: 44px;
}

.container {
    display: flex;
 /*   margin-bottom: 10px; */
    background-image: url("bgwebsiteok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.infoContainer {
   /* background-color: rgb(40, 226, 96); */
    height : 58vh;
    width: 75vw;
    margin : 101px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 3em;
    margin: 2px 20px;
}

.name{
    color: forestgreen;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    margin: 5px 20px;
}

.about{
    font-size: 2.1em ;
    margin: 5px 20px;
}

.moreabout {
    font-size: 1.3em;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;
    margin: 7px 20px;
}

.buttons {
    margin-top: 2.2em;
    font-size: 10px;
}

.buttons button{
    padding: 5px 14px;
    border:2px solid rgb(162, 0, 255);
    border-radius: 10px;
    color: white;
    background-color: rgb(154, 1, 255);
    font-weight: bold;
    font-size: 1.5em;
    margin: 3px 20px;
    cursor: pointer;
}

.buttons button:hover {
    border: 2px solid violet;
    background-color: white;
    color: rgb(154, 1, 255);
}

.devPic img {
    height: 41vh;
    margin: 20px;
    border: 4px solid rgb(140, 0, 255);
    border-radius: 10px;
}

.sidebarGo {
    transform: translate(-300px, 0);
   /* display: none; */
    position: absolute;
}

.hamburger{
    position: fixed;
    cursor: pointer;
    top: 10px;
    left: 10px;

}

.ham {
    margin-top: 3px;
    margin-left: 5px;
}

.cross{
  /*  margin-top: 8px ; */
    margin-left: 115px;
}

@media (max-width: 900px) {
 *{
    /* background-color: red; */
 }

 .buttons{
    font-size: 5px;
 }

 .devInfo {
    font-size: 10px;
 }

.devPic {
    display: none;
}

.intro {
    margin: 8px;
}

  /* div.sidebar {
    display: none;
    position: absolute; 
 } */
}

@media (max-width:425px) {
    .devInfo{
        margin-top: 60px;
    }
}

/* FOOTER*/

.full{
    background-color: rgb(0 0 0 / 58%);
   /* position: absolute; */
    left: 0;
    right: 0;
    height: auto;
   /* width: 100vw; */
    padding-top: 4px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    color: rgb(237 237 237);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 2rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: rgb(189, 178, 178);
    border: 2.2px solid  rgb(237 237 237);;
    padding: 10px;
    border-radius: 10px;
}

.footer-menu{
    margin-bottom: 20px;
  }

  .footer-menu ul{
    display: flex;
  }

  .footer-menu ul li {
    padding-right: 10px;
    display: block;
  }

  .footer-menu ul li a{
    color: #cfd2d6;
    border: 1px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
  }

  .footer-menu ul li a:hover{
    color: #27bcda;
  }

  .footer-bottom{
    background: #000;
    width: auto;
    padding: 15px;
    text-align: center;
}

.footer-bottom .copy {
    font-size: 10px;
}

.footer-bottom p{
    color: #9ba5a5;
    text-align: center;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a{
    color: #5090a9;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width:700px) {
    .footer-menu ul {
      display: inline;
    }

    .footer-content h3 {
        font-size: 20px;
    }

    .footer-bottom{
      /*  display: inline; */ 
        padding: absolute;
    }

    .footer-menu ul li {
      margin-bottom: 20px;
    }
}